@charset "UTF-8";

/* Variaveis */
:root {
  --amarelo: #E6B120;
  --rosa: #E11E72;
  --roxo: #57308D;
  --azul: #669BBC;
  --cinza: #6D6875;
}

header img {
  border-radius: 35px;
  padding: 0;
}

nav {
  height: 75px;
  border-radius: 30px;
  background-color: var(--roxo);
  margin: 10px 0px 10px 0px;
  font-family: "Merienda", cursive;
}

.navbar li {
  list-style-type: none;
  white-space: nowrap;
}

/* Estilo quando o mouse passa por cima */
ul li a:hover {
  background-color: var(--rosa);
  border-radius: 30px;
  padding: auto;
}

nav ul li a.selecionado {
  background-color: var(--rosa);
  color: white;
  border-radius: 30px;
}

.offcanvas-body,.offcanvas-header{
  color: white;
  background-color: var(--roxo);
}

h1 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--roxo);
}

h2 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--roxo);
}

h3 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-size: 15px;
  font-weight: 200;
  font-style: normal;
  color: var(--roxo);
}

h5 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 200;
  font-style: normal;
  color: var(--roxo);
}

p {
  color: black;
  text-align: justify;
  font-family: "Josefin Slab", serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
}

img {
  border-radius: 30px;
}

input, textarea {
  border: solid 2px var(--roxo);
  border-radius: 30px;
  padding: 15px;
  width: 100%;
}

form input {
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 100%;
  height: 50px;
}

article button {
  border: solid 2px var(--azul);
  border-radius: 30px;
  background-color: var(--amarelo);
  color: var(--roxo);
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  width: 200px;
  height: 50px;
  margin: 20px;
}

article a {
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-family: "Merienda", cursive;
  color: var(--rosa);
}

/*--------------------------------------------  Configurações de tela cartunistas.php --------------------------------------------*/
.banner_cartunistas{
  margin: 0% 0% 5% 0%;
}


/*--------------------------------------------  Configurações de tela sucesso.php --------------------------------------------*/
#body_sucesso {
  padding: 50px;
  text-align: center;
}

/*------------------------------------  Configurações do footer---------------------------------*/
footer {
  background-color: var(--roxo);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  font-size: 18px;
}

footer img {
  border-radius: 100%;
  max-width: 100%;
}

footer a {
  text-decoration: none; 
  max-width: 100%;
}

.a_footer {
  color: white;
  display: flex;
}

.a_footer:hover {
  color: white;
}

.a_footer {
  text-decoration: none;
  color: white;
}

.teste{
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem para uma nova linha */
}

.teste > div {
  margin: 5px; /* Espaçamento entre os itens */
  text-align: center;
}

/*--------------------------------------------  Configurações de media query --------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1599px) {
  .img_cartunista{
      width: 250px;
      height: 250px;
      
  }
  .img-banner{
    max-width: 100%; /* Ajusta a largura máxima para o tamanho do contêiner pai */
    height: auto; /* Mantém a proporção original da imagem */
  }
  footer a {
    margin: 6px;
  }
  footer img {
    height: 180px;
    width: auto;
  }
  .rubens1 {
    width: 400px;
  }
  .rubens2 {
    width: 300px;
  }
  .rubens3 {
    width: 250px;
  }
  .quadrinhos {
    width: 250px;
  }
  .desenho_nos {
    width: 500px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .img_cartunista{
      width: 210px;
      height: 210px; 
  }
  .img-banner{
    max-width: 100%; /* Ajusta a largura máxima para o tamanho do contêiner pai */
    height: auto; /* Mantém a proporção original da imagem */
  }
  .img_cartunista_individual {
    width: 400px;
    height: 400px;
  }
  .rubens1 {
    width: 500px;
  }
  .rubens2 {
    width: 400px;
  }
  .rubens3 {
    width: 300px;
  }
  .quadrinhos {
    width: 350px;
  }
  .desenho_nos {
    width: 500px;
  }
  footer img {
    height: 180px;
    width: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .img-banner{
    max-width: 100%; /* Ajusta a largura máxima para o tamanho do contêiner pai */
    height: auto; /* Mantém a proporção original da imagem */
  }
  .img_cartunista_individual {
    width: 350px;
    height: 350px;
  }
  .teste > div {
    flex-basis: 50%; /* Ajusta o tamanho das colunas para dois itens por linha */
  }
  footer img {
    height: 100px;
    width: 220px;
  }
}

@media (max-width: 767px) {
 
  .img-banner{
    max-width: 100%; /* Ajusta a largura máxima para o tamanho do contêiner pai */
    height: auto; /* Mantém a proporção original da imagem */
  }
  .img_cartunista_individual {
    max-width: 100%; /* Ajusta a largura máxima para o tamanho do contêiner pai */
    height: auto; /* Mantém a proporção original da imagem */
  }
  .teste > div {
    flex-basis: 50%; /* Ajusta o tamanho das colunas para dois itens por linha */
  }
  footer img {
    height: 150px;
    width: auto;
  }
}